h1 {
  text-align: center;
  font-weight: bold;
  color: rgb(56, 56, 182);
  font-size: 50px;
}

p {
  text-align: left;
  color: black;
}

#unorderedList {
  font-weight: bold;
  font-style: italic;
}

#background {
  background-color: rgb(87, 240, 189);
}
